:root {
  --primary-color: #f06292; /* Pink */
  --secondary-color: #64b5f6; /* Blue */
  --text-color: #333333; /* Dark Gray */
  --background-color: #f5f5f5; /* Light Gray */
}

body {
  color: var(--text-color);
  background: var(--background-color);
}
